<a href="https://colab.research.google.com/github/anderson-ru/homework_course/blob/the_main/ods__1_homework_(pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://drive.google.com/file/d/1EmIeTwqc1KPBGSCe13TMnVp6I6Tm-CAE/view?usp=sharing

In [ ]:
import pandas as pd

In [ ]:
! gdown --id 1EmIeTwqc1KPBGSCe13TMnVp6I6Tm-CAE

Downloading...
From: https://drive.google.com/uc?id=1EmIeTwqc1KPBGSCe13TMnVp6I6Tm-CAE
To: /content/adult.csv
100% 3.52M/3.52M [00:00<00:00, 90.5MB/s]

In [ ]:
data = pd.read_csv("adult.csv")
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

# **1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?**

In [ ]:
df = data
df[df['sex'] == 'Male'].count()[0]

21790

In [ ]:
df[df['sex'] == 'Female'].count()[0]

10771

# **2. Каков средний возраст (признак age) женщин?**

In [ ]:
df[df['sex'] == 'Female'].mean() # mean values for all features

age                   36.858230
fnlwgt            185746.311206
education-num         10.035744
capital-gain         568.410547
capital-loss          61.187633
hours-per-week        36.410361
dtype: float64

In [ ]:
df[df['sex'] == 'Female'].mean()[0] # mean variable as int

36.85823043357163

In [ ]:
df[df['sex'] == 'Female'].mean()[['age']] # mean variable as two collums string

age    36.85823
dtype: float64

# **3. Какова доля граждан Германии (признак native-country)?**

In [ ]:
df[df['native-country'] == 'Germany'].count()[0] # native-country equals to 'Germany'

137

In [ ]:
df.count()[0] # all sitizents in data

32561

In [ ]:
df[df['native-country'] == 'Germany'].count()[0] / df.count()[0] * 100 # % german people of all people

0.42074874850281013

# **4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?**

In [ ]:
df[df['salary'] == '<=50K'].mean() # mean <= 50k

age                   36.783738
fnlwgt            190340.865170
education-num          9.595065
capital-gain         148.752468
capital-loss          53.142921
hours-per-week        38.840210
dtype: float64

In [ ]:
df[df['salary'] == '>50K'].mean() # mean > 50k

age                   44.249841
fnlwgt            188005.000000
education-num         11.611657
capital-gain        4006.142456
capital-loss         195.001530
hours-per-week        45.473026
dtype: float64

In [ ]:
df[df['salary'] == '<=50K'].std() # std <= 50k

age                   14.020088
fnlwgt            106482.271195
education-num          2.436147
capital-gain         963.139307
capital-loss         310.755769
hours-per-week        12.318995
dtype: float64

In [ ]:
df[df['salary'] == '>50K'].std() # std > 50k

age                   10.519028
fnlwgt            102541.775472
education-num          2.385129
capital-gain       14570.378951
capital-loss         595.487574
hours-per-week        11.012971
dtype: float64

In [ ]:
print("The values of age variable for people woth salary <= 50K is equals to: ")
print(df[df['salary'] == '<=50K'].mean()[['age']][0], "+/-", df[df['salary'] == '<=50K'].std()[0])
print("The values of age variable for people woth salary > 50K is equals to: ")
print(df[df['salary'] == '>50K'].mean()[['age']][0], "+/-", df[df['salary'] == '>50K'].std()[0])

The values of age variable for people woth salary <= 50K is equals to:
36.78373786407767 +/- 14.020088490824813
The values of age variable for people woth salary > 50K is equals to:
44.24984058155847 +/- 10.51902771985177

# **6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)**

In [ ]:
pd.unique(df['education'])

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [ ]:
pd.unique(df[df['salary'] == '>50K']['education'])

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

The answear is No, it is not True that all people with salaries >50k have high education at least.

# **7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.**

In [ ]:
columns_to_show = ['race', 'sex']

df.groupby( ['age'])[columns_to_show].describe() # wrong decision

     race                      sex
    count unique    top freq count unique     top freq
age
17    395      5  White  349   395      2    Male  209
18    550      5  White  483   550      2    Male  282
19    712      5  White  630   712      2    Male  356
20    753      5  White  653   753      2    Male  390
21    720      5  White  627   720      2    Male  391
..    ...    ...    ...  ...   ...    ...     ...  ...
85      3      1  White    3     3      2    Male    2
86      1      1  White    1     1      1  Female    1
87      1      1  White    1     1      1    Male    1
88      3      1  White    3     3      2    Male    2
90     43      3  White   34    43      2    Male   29

[73 rows x 8 columns]

In [ ]:
df.groupby( ['race', 'sex'])['age'].describe()

                             count       mean        std  ...   50%    75%   max
race               sex                                    ...
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  ...  36.0  46.00  80.0
                   Male      192.0  37.208333  12.049563  ...  35.0  45.00  82.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  ...  33.0  43.75  75.0
                   Male      693.0  39.073593  12.883944  ...  37.0  46.00  90.0
Black              Female   1555.0  37.854019  12.637197  ...  37.0  46.00  90.0
                   Male     1569.0  37.682600  12.882612  ...  36.0  46.00  90.0
Other              Female    109.0  31.678899  11.631599  ...  29.0  39.00  74.0
                   Male      162.0  34.654321  11.355531  ...  32.0  42.00  77.0
White              Female   8642.0  36.811618  14.329093  ...  35.0  46.00  90.0
                   Male    19174.0  39.652498  13.436029  ...  38.0  49.00  90.0

[10 rows x 8 columns]

In [ ]:
df.groupby( ['race', 'sex'])['age'].max()

race                sex
Amer-Indian-Eskimo  Female    80
                    Male      82
Asian-Pac-Islander  Female    75
                    Male      90
Black               Female    90
                    Male      90
Other               Female    74
                    Male      77
White               Female    90
                    Male      90
Name: age, dtype: int64

In [ ]:
df.groupby( ['race', 'sex'])['age'].max()[1]

82

# **8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [ ]:
pd.unique(df['marital-status'])

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [ ]:
d = {'Never-married' : False, 'Divorced' : False, 'Separated' : False, 'Widowed' : False, 
     'Married-civ-spouse' : True, 'Married-spouse-absent': True, 'Married-AF-spouse':True}
df['marital-status'] = df['marital-status'].map(d)
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country  salary
0   39         State-gov   77516  ...             40   United-States   <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38           Private  215646  ...             40   United-States   <=50K
3   53           Private  234721  ...             40   United-States   <=50K
4   28           Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
df[(df['marital-status'] == False)&(df['salary'] == '>50K')].count()[0] / df[df['marital-status'] == False].count()[0] # unmarried

0.0644540363975735

In [ ]:
df[(df['marital-status'] == True) & (df['salary'] == '>50K')].count()[0] / df[df['marital-status'] == True].count()[0] # married

0.43692028280469614

# **9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [ ]:
df['hours-per-week'].max()

99

In [ ]:
df[df['hours-per-week'] == 99].count()[0]

85

In [ ]:
df[(df['hours-per-week'] == 99) & (df['salary'] == '>50K')].count()[0] / df[df['hours-per-week'] == 99].count()[0]

0.29411764705882354

# **10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).**

In [ ]:
df.groupby(['native-country', 'salary'])['hours-per-week'].describe()

                        count       mean        std  ...   50%   75%   max
native-country salary                                ...
?              <=50K    437.0  40.164760  12.817002  ...  40.0  45.0  99.0
               >50K     146.0  45.547945  10.202827  ...  40.0  50.0  80.0
Cambodia       <=50K     12.0  41.416667   3.088346  ...  40.0  40.5  50.0
               >50K       7.0  40.000000   0.000000  ...  40.0  40.0  40.0
Canada         <=50K     82.0  37.914634  13.012056  ...  40.0  40.0  70.0
...                       ...        ...        ...  ...   ...   ...   ...
United-States  >50K    7171.0  45.505369  11.025092  ...  40.0  50.0  99.0
Vietnam        <=50K     62.0  37.193548  12.422664  ...  40.0  40.0  77.0
               >50K       5.0  39.200000   1.788854  ...  40.0  40.0  40.0
Yugoslavia     <=50K     10.0  41.600000  11.305849  ...  40.0  40.0  66.0
               >50K       6.0  49.500000  11.202678  ...  46.0  58.0  65.0

[82 rows x 8 columns]